{% extends "admin_base.html" %}
{% load static %}

{% block content %}

<style>
    .custom-btn {
        width: 100px; /* You can adjust the width as needed */
    }
</style>


<div class="col-lg-12 d-flex align-items-stretch pt-5">
    <div class="card w-100">
    <div class="card-body p-4">
        <h5 class="card-title fw-semibold mb-4">Customers</h5>
        <div class="table-responsive">
        <table class="table text-nowrap mb-0 align-middle">
            <thead class="text-dark fs-4">
            <tr>
                <th class="border-bottom-0">
                <h6 class="fw-semibold mb-0">Id</h6>
                </th>
                <th class="border-bottom-0">
                <h6 class="fw-semibold mb-0">Name</h6>
                </th>
                <th class="border-bottom-0">
                <h6 class="fw-semibold mb-0">Email</h6>
                </th>
                <th class="border-bottom-0">
                <h6 class="fw-semibold mb-0">Phone No</h6>
                </th>
                <th class="border-bottom-0">
                <h6 class="fw-semibold mb-0">Address</h6>
                </th>
                <th class="border-bottom-0">
                <h6 class="fw-semibold mb-0">Action</h6>
                </th>
                
            </tr>
            </thead>
            <tbody>
                {% for message in messages %}
                    <div class="container">
                      <div class="row justify-content-center">
                        <div class="col-sm-10 col-md-8 col-lg-6">
                          <div class="alert alert-danger mt-3 text-center" role="alert" style="color: black;" id="alertMessage">
                            {{ message }}
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
            {% for i in customer %}
            <tr>
                <td class="border-bottom-0"><h6 class="fw-semibold mb-0">{{ forloop.counter }}</h6></td>
                <td class="border-bottom-0">
                    <h6 class="fw-semibold mb-1"></h6>
                    <span class="fw-semibold mb-0 fs-4">{{ i.cust_user.first_name}} {{ i.cust_user.last_name}}</span>                          
                </td>
                <td class="border-bottom-0">
                <p class="fw-semibold mb-0 fs-4">{{ i.cust_user.email }}</p>
                </td>
                <td class="border-bottom-0">
                <div class="d-flex align-items-center gap-2">
                    <span class="fw-semibold mb-0 fs-4">{{ i.cust_mobile }}</span>
                </div>
                </td>
                <td class="border-bottom-0">
                <h6 class="fw-semibold mb-0 fs-4">{{ i.cust_address }} {{ i.cust_locality }} <br>{{ i.cust_city}} {{ i.cust_state}} {{ i.cust_pincode }}</h6>
                </td>
                <td class="border-bottom-0">
                    <h6 class="fw-semibold mb-0 fs-4">
                        <button type="button" class="btn btn-danger"><a href="{% url "delete_customer" i.id %}" class='text-white'>Delete</a></button>
                    </h6>
                </td>
            </tr>
            {% endfor %}                      
            </tbody>
        </table>
        </div>
    </div>
    </div>
</div>

<div id="pagination" class="d-flex justify-content-center my-4">
    <button type="button" class="btn btn-secondary custom-btn" onclick="previousPage()">Previous</button>&nbsp
    <button type="button" class="btn btn-secondary custom-btn" onclick="nextPage()">Next</button>
</div>

<script>
    // Add a delay function to remove the alert message after 5 seconds
    window.setTimeout(function() {
        var alertMessage = document.getElementById('alertMessage');
        if (alertMessage) {
            alertMessage.remove();
        }
    }, 2000);
</script>

<script>
    var currentPage = 1;
    var customersPerPage = 10;
    var customers = document.querySelectorAll('.table tbody tr');
    var pagination = document.getElementById('pagination');

    function showCustomers() {
        var startIndex = (currentPage - 1) * customersPerPage;
        var endIndex = startIndex + customersPerPage;

        for (var i = 0; i < customers.length; i++) {
            if (i >= startIndex && i < endIndex) {
                customers[i].style.display = 'table-row';
            } else {
                customers[i].style.display = 'none';
            }
        }

        // Show or hide pagination buttons based on the number of customers
        if (customers.length > customersPerPage) {
            pagination.innerHTML = `
                <button type="button" class="btn btn-secondary custom-btn" onclick="previousPage()" ${currentPage === 1 ? 'style="display: none;"' : ''}>Previous</button>&nbsp
                <button type="button" class="btn btn-secondary custom-btn" onclick="nextPage()" ${customers.length - endIndex <= 0 ? 'style="display: none;"' : ''}>Next</button>
            `;
        } else {
            pagination.innerHTML = `
                <button type="button" class="btn btn-secondary custom-btn" onclick="previousPage()" ${currentPage === 1 ? 'style="display: none;"' : ''}>Previous</button>
            `;
        }
    }

    function nextPage() {
        currentPage++;
        showCustomers();
    }

    function previousPage() {
        currentPage--;
        showCustomers();
    }

    showCustomers();
</script>

{% endblock content %}


