{% extends 'base.html' %}

{% block content %}



<div class="container mt-3 px-4">
    <div class="row">
        <div class="card mb-3 col-sm-12 mx-auto" style="max-width: 100rem;">
            <div class="card-body d-flex flex-wrap justify-content-around" style="max-height: 75rem; overflow-y: auto; overflow-x: hidden;">

                <h5 class="text-center pb-1">About Badminton Air Plaza</h5>
                    <div class="col-lg-12" style="padding-left: 10rem; padding-right: 10rem;">
                        <p class="text-center pb-3">Welcome to Badminton Air Plaza! Your ultimate destination for all things badminton. With a focus on convenience 
                        and quality, we offer a seamless booking experience for badminton enthusiasts of all levels.</p>
                    </div>

                <h5 class="text-center pb-1">Our Vision</h5>
                <div class="col-lg-12" style="padding-left: 10rem; padding-right: 10rem;">
                    <p class="text-center pb-3">At Badminton Air Plaza, our vision is to create a vibrant community of badminton enthusiasts by providing a 
                    state-of-the-art facility and convenient booking options for players of all ages and skill levels.</p>
                </div>

                <h5 class="text-center pb-1">What We Offer</h5>
                <div class="col-lg-12" style="padding-left: 10rem; padding-right: 10rem;">
                    <p class="text-center pb-3">Badminton Air Plaza is equipped with modern facilities, featuring 4 well-maintained courts per turf, 
                    available for both online and offline booking. Our easy-to-use online booking system allows you to secure your 
                    preferred playing slot with just a few clicks.</p>
                </div>

                <h5 class="text-center pb-1">Online Payment</h5>
                <div class="col-lg-12" style="padding-left: 10rem; padding-right: 10rem;">
                    <p class="text-center pb-3">For your convenience, we are pleased to offer the option of secure online payments through PayPal, a trusted and reliable payment platform,
                    ensuring a seamless and worry-free transaction process for all our valued customers.</p>
                </div>

                <h5 class="text-center pb-1">Our Commitment</h5>
                <div class="col-lg-12" style="padding-left: 10rem; padding-right: 10rem;">
                    <p class="text-center pb-3">We are committed to providing a top-notch badminton experience, whether you're a seasoned player looking for competitive 
                    matches or a beginner looking to improve your skills. Our friendly and dedicated staff are here to ensure that your time at 
                    Badminton Air Plaza is both enjoyable and fulfilling.</p>
                </div>

                <h5 class="text-center pb-1">Get in Touch</h5>
                <div class="col-lg-12" style="padding-left: 10rem; padding-right: 10rem;">
                    <p class="text-center pb-3">If you have any inquiries or need assistance, please feel free to reach out to us. You can contact us at
                        <b>Badminton Plaza Mall, Opposite St. Xavier's University, AA III, Newtown, India 670160 including info@example.com, +91-9999878398.</b></p>
                </div>

                <div class="col-lg-12" style="padding-left: 10rem; padding-right: 10rem;">
                    <p class="text-center pb-3">Thank you for choosing Badminton Air Plaza. Join us as we elevate your badminton experience to new heights!</p>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container pt-2 pb-2 mb-3" id="container-fluid2" style="height: auto; background: white;">
    <section>
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-4 col-sm-12">
                <!-- First Description -->
                <div class="description text-black justify-content-center p-3">
                  <i class="fa fa-search" style=" height: 2rem; width: 2rem;" aria-hidden="true"></i><br>
                    <h6>Search</h6>
                    <p>Are you looking to play after work, organize your Sunday Five's football match? Explore the largest network of sports facilities all over India.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <!-- Second Description -->
                <div class="description text-black p-3">
                    <i class="fa fa-calendar" style=" height: 2rem; width: 2rem;" aria-hidden="true"></i><br>
                    <h6>Book</h6>
                    <p>Once you’ve found the perfect ground, court or gym, Connect with the venue through the Book Now Button to make online booking & secure easier payment.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <!-- Third Description -->
                <div class="description text-black p-3">
                  <img src="static/images/badminton.png" style=" height: 3rem; width: 3rem;" alt=""><br>
                    <h6>Play</h6>
                    <p>You’re the hero, you’ve found a stunning turf or court, booked with ease and now it's time to play. The scene is set for your epic match.</p>
                </div>
            </div>
        </div>
    </section>
  </div>




{% endblock content %}