{% extends 'base.html' %}
{% load static %}


{% block content %}


<div class="container-fluid" style="padding: 5vh;">
  <section class="vh-120">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                  <p class="text-center h1 fw-bold mb-3 mx-1 mt-3">Change password</p>

                  <p>Password should be 8-26 characters and must include a special character a uppercase character and a digit</p>

                  <form class="mx-1 mx-md-4 " action="{% url 'user_pass_change' %}" method="post">
                    {% csrf_token %}

                    <div class="d-flex flex-row align-items-center mb-2 mt-3">
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="password" id="log_pass" class="form-control" name='current_pass' required>
                        <label class="form-label" for="form3Example4c">Current Password</label>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-2">
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="password" id="Password" class="form-control" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*?[0-9])(?=.*[!@#$%^&*]).{8,26}" title="Must contain at least one number and one special character one uppercase and lowercase letter , and at least 8 or more characters" required>
                        <label class="form-label" for="form3Example4c">Password</label>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="password" id="Password" class="form-control" placeholder="Repeat your password" name="cpassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*?[0-9])(?=.*[!@#$%^&*]).{8,26}" required>
                        <label class="form-label" for="form3Example4cd">Repeat your password</label>
                      </div>
                    </div>

                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button type="submit" class="btn btn-info btn-lg">Update Password</button>
                    </div>

                  </form>

                </div>

                {% for message in messages %}
                <div class="container">
                  <div class="row justify-content-center">
                    <div class="col-sm-10 col-md-8 col-lg-6">
                      <div class="alert alert-danger mt-3 text-center" role="alert" style="color: black;"  id="alertMessage">
                        {{ message }}
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}

              </div>
            </div>
          </div>
        </div>
      </div>

  </section>
</div>

<script>
    // Add a delay function to remove the alert message after 5 seconds
    window.setTimeout(function() {
        var alertMessage = document.getElementById('alertMessage');
        if (alertMessage) {
            alertMessage.remove();
        }
    }, 2000);
</script>

{% endblock content %}