{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <p>Greetings {{ user.first_name }} {{ user.last_name }},</p><br>

    <p>Here is your login password:</p>

    <p>Password: {{ password }}</p>

    <p>Keep it secure.</p>
    <p>Ensure to change password after login.</p><br><br>

    <p>Thanks and Regards,</p>
    <p>BADMINTON AIR PLAZA Team</p>

    <img src="cid:logo" alt="Your Logo" style="height: 6rem; width: 6rem;">

</body>
</html>